/* Custom CSS for Coffee Shop Website */

/* font keania one */
.keania-one-regular {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Navbar */
  .navbar {
    background-color: #6eba00; /* Dark purple */
    position: relative;
  }
  
  .navbar-brand {
    font-family: "keania one", sans-serif;
    font-size: 2rem;
    color: #fff;
  }
  .navbar-brand img {
    width: 50px;
    height: 50px;
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* White */
    font-family: "poppins", sans-serif;
    font-weight: 500;
  }
  
  .navbar-nav .nav-link:hover {
    color: #452a67; /* Light gray */
    font-weight: 800;
  }
  
  /* Jumbotron */
  .jumbotron {
    background-image: url("/jumbotron.jpg"); /* Placeholder image */
    background-size: cover;
    background-position: center;
    color: #fff; /* White */
    text-align: center;
    text-shadow: 1px 1px #452a67;
  }
  .display-4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
  .container h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .menu img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
  }
  
  /* Footer */
  .footer {
    background-color: #6eba00; /* green tea */
    color: #fff; /* White */
    margin-top: 30px;
  }
  
  /* Custom classes for buttons */
  .btn-primary {
    background-color: #6eba00; /* Dark purple */
    border-color: #6eba00; /* Dark purple */
  }
  
  .btn-primary:hover {
    background-color: #452a67; /* Darker purple */
    border-color: #452a67; /* Darker purple */
  }
  
  /* Custom CSS for responsiveness */
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 1.2rem;
    }
  }
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

/* Unduh APP */

.unduhapp .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.unduhapp .row .image {
    flex: 1 1 42rem;
}

.unduhapp .row .image img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {

    0%,
    100% {
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }

    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.unduhapp .row .content {
    flex: 1 1 42rem;
}

.unduhapp .row .content .title {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
}

.unduhapp .row .content p {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.unduhapp .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}

.unduhapp .row .content .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
}

.unduhapp .row .content .icons-container .icons img {
    height: 10rem;
}

.unduhapp .row .content .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}